<div class="reveal" id="item_not_available" data-reveal>
  <div style="text-align: center;">
      <h4>Sorry about that! We do not have kits available at this time </h4>
      <h4>Please check again next month! </h4>
      </br>
      </br>
  </div>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>

</div>
