<!--https://www.pexels.com/photo/coding-computer-data-depth-of-field-577585/ -->
<div style="text-align: center;">
    <h4>Sorry about that! The image that you are trying to upload is too large</h4>
    <h4>Please upload an image with size less than 500KB </h4>
    <%= image_tag("server_error.jpg", width: "50%", height: "40%") %>
    </br>
    </br>
</div>
