
<div class="cell-block-y">
  <div class="grid-container">


      <div class="inner-title cell-block-x small-12">
        <span class="uline"><h3><%= @item_category.name + " Kit Item Parts" %></h3> </span>
      </div>

        <%= render 'form', item: @item %>

  </div>
</div>
